<div class="container">
  <h3 class="text-nav-helper">Home / Wachtwoord vergeten</h3>
  <div class="row center-element">
    <div class="col-md-9">

      <form class="form-horizontal" role="form" novalidate>
        <div class="panel panel-default">
					<div class="panel-body">
						Hier kan je je wachtwoord opnieuw instellen
					</div>
				</div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="credentials.email" placeholder="my@email.com" required />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-8 control-label"></label>
          <div class="col-sm-4">
            <a ng-click="forgetpassword(credentials)" class="btn btn-block btn-primary">Aanvragen</a>
            <span></span>
          </div>
        </div>


        <error></error>



    </div>
