@import "components/base";
@import "components/chat";
@import "components/navbar";
@import "components/footer";
@import "components/demo";
@import "components/login";
@import "components/homepage";
@import "components/robot";
@import "components/register";
@import "components/about";
@import "components/cookies";
@import "components/quiz";
