<div class="container chat-container">

    <div class="row">
        <div class="col-md-4">
            <div class="robotcontainer">
                <div>
                    <robot></robot>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="chat" ng-if="chatActive">
                <div class="chat-holder" ng-repeat="message in messages">
                    <div ng-if="message.author=='robin'" class="bubble me">{{message.text}}</div>
                    <div ng-if="message.author=='child'" class="bubble you">{{message.text}}</div>
                </div>
                <!-- start if roadmaps are send -->
                <div class="roadmap-holder" ng-if="roadmaps">
                    <div ng-repeat="roadmap in roadmaps">
                        <div class="quiz-bubble me">
                            <div class="quiz-info" ng-click="startRoadmap(roadmap)">
                                <div>{{roadmap.name}}</div>
                                <div>{{roadmap.description}}</div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end -->

            </div>

            <!-- show selecter roadmap -->
            <div class="roadmap" ng-if="roadmapActive">

                <div class="title">
                    {{roadmap.name}}
                </div>
                <div class="step" ng-repeat="step in roadmap.steps" ng-hide="!isCurrentSlideIndex($index)">

                    <div class="name">
                        {{step.name}}
                    </div>
                    <div class="description">
                        {{step.description}}
                    </div>
                    <div class="roadmap-next" ng-click="nextStep()">
                        Volgende
                    </div>
                </div>

            </div>
        </div>

        <div class="row" ng-if="chatActive">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="chat-input">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" ng-model="inputMessage" class="form-control" ng-enter="sendMessage(inputMessage)">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-disabled="!inputMessage" ng-click="sendMessage(inputMessage)" type="button">Send</button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
