<div ng-controller="ChatController" class="container-fluid"></div>

<div class="ChatContainer container-fluid ng-scope">
	
	<div class="RobotWrapper">
		<div class="RobotContainer">
			<div class="col-md-4">
				<robot></robot>
			</div>
		</div>
	</div>

	<div class="ChatWrapper col-md-8">
		<div id="Messages" class="container-fluid">
			<div class="Message Recieved">
				<p class="label">Hallo<em>13:35</em></p>
			</div>
			<div class="Message Recieved">
				<p class="label">Ik ben Robin<em>13:35</em></p>
			</div>
			<div class="Message Send">
				<p class="label">Ik ben een test bericht<em>13:35</em></p>
			</div>
			<div class="Message Recieved">
				<p class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
					ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum<em>13:35</em></p>
			</div>
			<div class="Message Send">
				<p class="label">Response<em>13:36</em></p>
			</div>
			<div class="Message Recieved">
				<p class="label">Hallo<em>13:36</em></p>
			</div>
			<div class="Message Recieved">
				<p class="label">A<em>13:36</em></p>
			</div>
			<div class="Message Send">
				<p class="label">Ik ben een test bericht<em>13:36</em></p>
			</div>
			<div class="Message Recieved">
				<p class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
					ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum<em>13:36</em></p>
			</div>
			<div class="Message Send">
				<p class="label">Response<em>13:37</em></p>
			</div>
			<div class="Message Send">
				<p class="label">Loremipsumdolorsitamet,consecteturadipiscingelit,seddoeiusmodtemporincididuntutlaboreetdoloremagnaaliqua.Utenimadminimveniam,quisnostrudexercitationullamcolaborisnisiutaliquipexeacommodoconsequat.Diauteiruredolorinreprehenderitinvoluptatevelitessecillumdoloreeufugiatnullapariatur.Excepteursintoccaecatcupidatatnonproident,suntinculpaquiofficiadeseruntmollitanimidestlaborum<em>13:37</em></p>
			</div>
			<div class="Message Recieved">
				<p class="label">Loremipsumdolorsitamet,consecteturadipiscingelit,seddoeiusmodtemporincididuntutlaboreetdoloremagnaaliqua.Utenimadminimveniam,quisnostrudexercitationullamcolaborisnisiutaliquipexeacommodoconsequat.Diauteiruredolorinreprehenderitinvoluptatevelitessecillumdoloreeufugiatnullapariatur.Excepteursintoccaecatcupidatatnonproident,suntinculpaquiofficiadeseruntmollitanimidestlaborum<em>13:37</em></p>
			</div>
			<div class="Message Send">
				<p class="label">Response<em>13:37</em></p>
			</div>
			<div class="Message Recieved">
				<p class="label">Wat wil je doen?<em>13:37</em></p>
			</div>
		</div>

		<div class="MessageHolder container-fluid form-group">
			<!-- 
			<div class="btn-group btn-group-justified">
				<a class="btn btn-default">Left</a> <a class="btn btn-default">Middle</a>
				<a class="btn btn-default">Right</a>
			</div>
			-->

			<div class="ButtonOptions input-group">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit">Spelen</button>
					<button class="btn btn-default" type="submit">Doorpraten</button>
					<button class="btn btn-default" type="submit">Hulp vragen</button>
					<button class="btn btn-default" type="submit">Stoppen</button>
				</div>
			</div>

			<div class="input-group">
				<input ng-model="message.text" type="text" class="form-control" placeholder="Chat met Robin">
				<div class="input-group-btn">
					<button ng-click="sendMessage(message)" type="submit" class="btn btn-primary">Stuur</button>
					<!-- <button type="button" class="btn btn-default dropdown-toggle"
						data-toggle="dropdown" tabindex="-1">
						<span class="ss-navigatedown"></span> <span class="sr-only">Toggle
							Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<div class="arrow top"></div>
						<li><a href="#fakeLink">Trofeeënkast</a></li>
						<li><a href="#fakeLink">Vraag hulp</a></li>
						<li class="divider"></li>
						<li><a href="#fakeLink">Stop met chatten</a></li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</div>