<div class="container">
  <div class="col-md-10 typography-container">
    <h3 class="demo-componant-title demo-componant-title-inverse">Typography</h3>
    <p class="demo-type-heading">Source Sans Pro</p>
    <p class="demo-type">
      <span class="demo-type-extra-light"><span>Extra Light</span> There was a ship that sailed all on the lowland sea And the name of the ship was the Golden Vanity And we feared she would be taken by the Spanish enemy As she sailed upon the lowland,
      lowland, lowland Sailed upon the lowland sea.</span>
      <span class="demo-type-regular"><span>Regular</span> Then up spoke our cabinboy and boldly out spoke he And he said to our captain "What will you give to me If I swim along the side of the Spanish enemy And I sink her in the lowland sea?"</span>
      <span class="demo-type-semi-bold"><span>Semibold</span> "Oh I will give you silver and I will give you gold And my own fair daughter your bonny bride shall be If you'll swim along the side of the Spanish enemy And you'll sink her in the lowland,
      lowland, lowland Sink her in the lowland sea.</span>
      <span class="demo-type-bold"><span>Bold</span> Then the boy he made him ready and overboard sprang he And he swam to the side of the Spanish enemy With his brace and auger in her side he bored holes three And sank he her in the lowland sea.</span>
    </p>
    <div class="demo-type-headings">
      <h1>h1. My name is Captain Kidd, <small>as I sailed, as I sailed</small></h1>
      <h2>h2. Oh my name is Captain Kidd as I sailed, <small>my name is Captain Kidd</small></h2>
      <h3>h3. And God’s laws I did forbid, <small>and most wickedly I did as I sailed</small></h3>
      <h4>h4. My father taught me well <small>to shun the gates of hell</small></h4>
      <h5>h5. But against him I rebelled as I sailed, <small>he shoved a bible in my hand</small></h5>
      <h6>h6. But I left it in the sand <small>and I pulled away from land, as I sailed</small></h6>
    </div>
  </div>
</div>
