<div class="container">
  <h3 class="text-nav-helper">Home / registreren</h3>
  <div class="row center-element">
    <div class="col-md-9">

      <form class="form-horizontal" role="form" novalidate>

        <div class="form-group">
          <label class="col-sm-3 control-label">Naam</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="credentials.name" placeholder="Mark" required />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Gebruikersnaam</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="credentials.username" placeholder="ex. Mark" required />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Wachtwoord</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" ng-model="credentials.password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="credentials.email" required placeholder="Mark@gmail.com" required>
            <span></span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-8 control-label"></label>
          <div class="col-sm-4">
            <a ng-click="register(credentials)" class="btn btn-block btn-primary">Registreer</a>
            <span></span>
          </div>
        </div>


        <error></error>



    </div>
