<ul class="dashboard-nav nav nav-tabs">
    <li class="active"><a ui-sref="dashboard">Dashboard</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
        Beheer kind <span class="ss-navigatedown"></span>
      </a>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="newchild">Kind toevoegen</a></li>
            <li class="active"><a href="#fakeLink">kind overzicht</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
        Content toevoegen <span class="ss-navigatedown"></span>
      </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#fakeLink">quiz toevoegen</a></li>
            <li class="active"><a href="#fakeLink">Stappenplan toevoegen</a></li>
        </ul>
    </li>
</ul>
