<div class="container">
	<ng-include src="'app/components/dashboard/dashboard-menu.view.html'"></ng-include>
	<div style="padding-bottom:20px;" class="col-md-10 typography-container">
		<p class="demo-type-heading">Mijn dashboard</p>
		<p class="demo-type">
			<p>
				Welkom bij het dashboard van Robin. Hier kunt u uw gekoppelde kinderen als begeleider vinden. binnenkort nieuwe functionaliteiten!
			</p>
		</p>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-6">
			<h3>Mijn kinderen</h3>
			<div class="list-group">
				<a href="#fakeLink" class="list-group-item">Kind 1</a>
				<a href="#fakeLink" class="list-group-item active">Kind 2</a>
				<a href="#fakeLink" class="list-group-item">Kind 3</a>
				<a href="#fakeLink" class="list-group-item">Kind 4</a>
				<a href="#fakeLink" class="list-group-item">Kind 5</a>
			</div>
		</div>
	</div>

</div>
