<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4"><span class="ss-menu"></span></button>
      <img class="navbar-brand-img" src="images/logo-storytime.png" alt="" width="251">
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-4">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#fakeLink">Help mee</a></li>
        <li><a href="#about">Over ons</a></li>
      </ul>

      <form class="navbar-form" role="search" action="#login">
        <div class="navbar-right">
          <button type="submit" class="btn btn-primary">Aanmelden</button>
          <button type="submit" class="btn btn-inverse">Login</button>
        </div>
      </form>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
