.mdl-navigation__link {
  &:hover {
    animation-duration: 4s;
    animation-timing-function: ease-out;
    box-sizing: border-box;
    border-bottom: 2px solid white;
  }
}

.active {
  background-color: #303F9F;
  box-sizing: border-box;
  border-bottom: 2px solid white;
}

.mdl-mini-footer__right-section {
  margin-right: 20px;
}

.logo {
  img {
    height: 40px;
  }
}
