<div class="container">
  <h3 class="text-nav-helper">Home / over ons</h3>
  <p class="demo-type-heading">Team StoryTime</p>
  <p class="demo-type">
    <p>
      Team StoryTime is een groep van studenten van de Hogeschool Utrecht en wij doen mee met ProjectB een wedstrijd van Sogeti en Tweakers.
      <blockquote>
        <p>
          ProjectB heeft tot doel het leven van mensen met een beperking te ondersteunen of zelfs de kwaliteit van hun leven te verbeteren. Wij dagen je uit om met jouw team informatie technologie in te zetten om voor een deel van deze mensen een oplossing te bieden.
          Vorig jaar is ProjectB voor de eerste keer in Nederland met succes uitgevoerd.
        </p>
      </blockquote>
      <p>
        Ons idee is een applicatie ontwikkelen die kinderen met een autistische stoornis gaat helpen beter omgaan met sociale interacties door middel van uitleg, spelletjes en het winnen van achievements. Alle behaalde resultaten kunnen worden terug gekoppeld
        aan de ouders en begeleiders om feedback terug te koppelen aan de kinderen.
      </p>
    </p>
  </p>
  <div class="promo-heads">
    <h2>Wie zijn wij?</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6 about-picture promo-tile">
        <div class="tile tile-profile" style="background-color:#f3bc65">

          <div class="card">
            <div class="front">
              <img src="images/sjoerd.png" alt="">
              <h4>Sjoerd Meester</h4>
              <p>Projectleider</p>
            </div>
            <div class="back">
              <h4>iets</h4>
              <p>nog iets</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 about-picture">
        <div class="tile tile-profile" style="background-color:#cc0000">

          <div class="card">
            <div class="front">
              <img src="images/lars.jpeg" alt="">
              <h4>Lars Timmerman</h4>
              <p>Software Architect & developer</p>

            </div>
            <div class="back">
              <p>
                iets
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 about-picture">
        <div class="tile tile-profile" style="background-color:#009dcd">
          <img src="images/martijn.jpeg" alt="">
          <h4>Martijn Boers</h4>
          <p>Systeem Beheer & Developer</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 about-picture">
        <div class="tile tile-profile" style="background-color:#9175bd">
          <img src="images/nick.jpeg" alt="">
          <h4>Nick van der Laan</h4>
          <p>Developer & Tester</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 about-picture">
        <div class="tile tile-profile" style="background-color:#e96300">
          <img src="images/robot.png" alt="">
          <h4>Robin de Robot</h4>
          <p>Buddy</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 about-picture">
        <div class="tile tile-profile" style="background-color:#28948c">
          <img src="images/klaas.jpeg" alt="">
          <h4>Klaas Foppen</h4>
          <p>UI Designer & Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- moet hier nog iets voor bedenken-->
<script type="text/javascript">
  $(function() {
    $(".card").flip({
      axis: "y", // y or x
      reverse: false, // true and false
      trigger: "hover", // click or hover
      speed: 500
    });
  });
</script>
