<div class="container">
	<h3 class="text-nav-helper">Home / over ons</h3>
	<p class="demo-type-heading">Team StoryTime</p>
	<p class="demo-type"></p>
	<div class="promo-heads">
		<div class="row">
			<div class="col-md-12">
				<h2>Wie is Robin?</h2>
				<h3>Hulpcoach bij sociale ontwikkelingen.</h3>
				<p>Robin is de digitale buddy / hulp coach robot die sociale
					interacties makkelijker maakt voor kinderen met autisme. Robin is
					zo ingesteld om er vriendelijk en vertrouwelijk uit te zien, zonder
					te veel onverwachte prikkels te geven aan de gebruikers.</p>
				<p>Robin helpt kinderen met een autisme beter omgaan met sociale
					interacties. Door middel van de chat vraagt Robin of het kind een
					stappenplan nodig heeft of een quiz wilt maken. Ook kan Robin in de
					chat vragen of het kind een nog niet behaalde stappenplan opnieuw
					wilt proberen.</p>
				<p>De volgende keer als het kind weer inlogt vraag Robin of de
					stappenplan is gelukt. Als het kind hierin is geslaagd, kan het
					kind worden beloond met een achievement. Door achievements worden
					de kinderen gemotiveerd om de stappenplannen correct uit te voeren.</p>
				<p>De resultaten van de stappenplannen en de quizzes kunnen aan
					de begeleiders teruggekoppeld worden.</p>
				<p>In de latere versies van de applicatie kunnen spelletjes in
					worden gebouwd. Deze spelletjes maken het interessanter om met
					Robin te chatten. Wat ook mogelijk is bij latere versies is een
					chat functie voor het kind en zijn begeleider(s) en/of ouder(s).</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Wie zijn wij?</h2>
				<p>Team StoryTime is een groep van studenten van de Hogeschool
					Utrecht en wij doen mee met ProjectB een wedstrijd van Sogeti en
					Tweakers.</p>
				<p>ProjectB heeft tot doel het leven van mensen met een
					beperking te ondersteunen of zelfs de kwaliteit van hun leven te
					verbeteren. Wij dagen je uit om met jouw team informatie
					technologie in te zetten om voor een deel van deze mensen een
					oplossing te bieden. Vorig jaar is ProjectB voor de eerste keer in
					Nederland met succes uitgevoerd.</p>
				<p>Ons idee is een applicatie ontwikkelen die kinderen met een
					autistische stoornis gaat helpen beter omgaan met sociale
					interacties door middel van uitleg, spelletjes en het winnen van
					achievements. Alle behaalde resultaten kunnen worden terug
					gekoppeld aan de ouders en begeleiders om feedback terug te
					koppelen aan de kinderen.</p>
			</div>
			<div class="col-md-4 col-sm-6 about-picture">
				<div class="tile tile-profile" style="background-color: #f3bc65">
					<div class="card">
						<div class="front">
							<img src="images/sjoerd.png" alt="">
							<h4>Sjoerd Meester</h4>
							<p>Projectleider</p>
						</div>
						<div class="back">
							<h4>Je kunt mij vinden op</h4>
							<a href="mailto:sjoeme@gmail.com"><i class="fa fa-envelope"
								"aria-hidden="true"></i>/sjoeme@gmail.com</a> <a
								href="https://github.com/adonthios" target="_blank"><i
								class="fa fa-github" aria-hidden="true"></i>/adonthios</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 about-picture">
				<div class="tile tile-profile" style="background-color: #cc0000">
					<div class="card">
						<div class="front">
							<img src="images/lars.jpeg" alt="">
							<h4>Lars Timmerman</h4>
							<p>Software Architect & developer</p>
						</div>
						<div class="back">
							<h4>Je kunt mij vinden op</h4>
							<a href="https://www.linkedin.com/in/lars-timmerman-60b54480"
								target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>/lars-timmerman</a>
							<a href="https://github.com/Infigoforza" target="_blank"><i
								class="fa fa-github" aria-hidden="true"></i>/infigoforza</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 about-picture">
				<div class="tile tile-profile" style="background-color: #009dcd">
					<div class="card">
						<div class="front">
							<img src="images/martijn.jpeg" alt="">
							<h4>Martijn Boers</h4>
							<p>Systeem Beheer & Developer</p>
						</div>
						<div class="back">
							<h4>Je kunt mij vinden op</h4>
							<a href="https://nl.linkedin.com/in/martijnboers" target="_blank"><i
								class="fa fa-linkedin" aria-hidden="true"></i>/Martijn-Boers</a> <a
								href="https://plebian.nl" target="_blank"><i
								class="fa fa-flickr" aria-hidden="true"></i>/Persoonlijke site</a> <a
								href="https://github.com/MartijnDevNull/" target="_blank"><i
								class="fa fa-github" aria-hidden="true"></i>/MartijnDevNull</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 about-picture">
				<div class="tile tile-profile" style="background-color: #9175bd">
					<div class="card">
						<div class="front">
							<img src="images/nick.jpeg" alt="">
							<h4>Nick van der Laan</h4>
							<p>Developer & Tester</p>
						</div>
						<div class="back">
							<h4>Je kunt mij vinden op</h4>
							<a href="https://nl.linkedin.com/in/nickvdlaan" target="_blank"><i
								class="fa fa-linkedin" aria-hidden="true"></i>/nickvdlaan</a> <a
								href="https://nickvanderlaan.com" target="_blank"><i
								class="fa fa-flickr" aria-hidden="true"></i>/Persoonlijke site</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 about-picture">
				<div class="tile tile-profile" style="background-color: #e96300">
					<div class="card">
						<div class="front">
							<img src="images/robot.png" alt="">
							<h4>Robin de Robot</h4>
							<p>Buddy</p>
						</div>
						<div class="back">
							<h4>Je kunt me contacteren op</h4>
							<a href="mailto:info@story.social"><i class="fa fa-envelope"
								"aria-hidden="true"></i>/info@story.social</a>`
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 about-picture">
				<div class="tile tile-profile" style="background-color: #28948c">
					<div class="card">
						<div class="front">
							<img src="images/klaas.jpeg" alt="">
							<h4>Klaas Foppen</h4>
							<p>UI Designer & Developer</p>
						</div>
						<div class="back">
							<h4>Je kunt mij vinden op</h4>
							<a href="https://www.linkedin.com/in/klaas-foppen-35b33245"
								target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>/klaas-foppen</a>
							<a href="https://www.twitter.com/klaaz0r" target="_blank"><i
								class="fa fa-twitter" aria-hidden="true"></i>/klaaz0r</a> <a
								href="https://github.com/klaaz0r" target="_blank"><i
								class="fa fa-github" aria-hidden="true"></i>/klaaz0r</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- moet hier nog iets voor bedenken-->
	<script type="text/javascript">
		$(function() {
			$(".card").flip({
				axis : "y", // y or x
				reverse : false, // true and false
				trigger : "hover", // click or hover
				speed : 500
			});
		});
	</script>