<div class="container">
  <h3 class="text-nav-helper">Home / help mee</h3>
  <div class="col-md-10 typography-container">
    <p class="demo-type-heading">Help mee</p>
    <p class="demo-type">
      <p>
        Robin is een open source project maar de spelletjes en uitleg word gemaakt door ouders en begeleiders. Zonder uw hulp kunnen wij robin niet zijn werkend krijgen. U kunnen uitleg schrijven in de vorm van een roadmap, deze roadmaps zijn voor uw eigen kinderen
        maar het is ook mogelijk de roadmaps toegankelijk te maken voor robin om ook met andere kinderen te delen! Op die manier creeren we met zijn alles een hele grote collectie aan roadmaps en spelletjes voor kinderen.
      </p>
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img src="images/home1.jpg" alt="100%x180">
        <div class="caption">
          <h4>Open source app</h4>
          <p>Fifteen men on the dead man’s chest – Yo-ho-ho and a bottle of rum! Drink and the devil had done for the rest – Yo-ho-ho and a bottle of rum!</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img src="images/home2.jpg" alt="100%x180">
        <div class="caption">
          <h4>Extra hulp voor kinderen</h4>
          <p>by the bos’n's pike, the bos’n brained with a marlinspike and Cookey’s throat was marked belike. It had been gripped by fingers ten.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img src="images/home3.jpg" alt="100%x180">
        <div class="caption">
          <h4>Moderne techniek</h4>
          <p>We gebruiken de nieuwe technieken zodat de ervaring van het gebruik van robin altijd optimaal is en geen frustratie wekt. </p>

        </div>
      </div>
    </div>
  </div>
</div>
