<div class="container">
  <h3 class="text-nav-helper">Home / help mee</h3>
  <div style="padding-bottom:20px;" class="col-md-10 typography-container">
    <p class="demo-type-heading">Help mee</p>
    <p class="demo-type">
      <p>
       Kinderen kunnen aan de buddy vragen stellen over alledaagse gebeurtenissen en krijgen op basis van hun vragen uitleg en spelletjes over de situatie. Deze uitleg en spelletjes worden gemaakt door ouders en begeleiders voor hun eigen kinderen maar het is ook mogelijk de gemaakt spelletjes en uitleg te delen met andere ouders. Wij vinden het belangrijk dat ouders en begeleider duidelijk toegang hebben tot de resultaten van het kind en bieden ook statistieken en gegevens over de behaalde resultaten zodat je als begeleider altijd aanvullend kunt helpen.
      </p>
    </p>
  </div>

  <div class="row">
  <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img ng-src="images/home2.jpg" alt="100%x180">
        <div class="caption">
          <h4>Kinderen met autisme</h4>
          <p>De doelgroep is kinderen met autisme van 7 tot en met 14 jaar. De doelgroep is een leuke en uitdagende groep om mee te werken. De de begeleiders, ouders, verzorgers of leraren, van het kind worden ondersteund door middel van de applicatie. De applicatie biedt aan het kind een 24/7 mogelijkheid om ondersteund te worden bij sociale interacties. De resultaten van de applicatie zijn in te zien door de begeleiders.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img ng-src="images/home1.jpg" alt="100%x180">
        <div class="caption">
          <h4>Open source app</h4>
          <p>Alles wat wij doen is open source, wij vinden dat belangrijk omdat wij graag onze doelgroep willen helpen. Dat kan alleen met de hulp van andere en dat is dus mogelijk. Kijk op onze <a href="https://github.com/MartijnDevNull/storytime-backend">backend</a> en <a href="https://github.com/klaaz0r/storytime-frontend">frontend</a> repository.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img ng-src="images/home3.jpg" alt="100%x180">
        <div class="caption">
          <h4>Moderne techniek</h4>
          <p>We gebruiken de nieuwe technieken zodat de ervaring van het gebruik van robin altijd optimaal is. Natuurlijk testen wij de applicatie ook. Dit wordt gedaan met: JUnit, Travis (Continuous intergration), Mocha en Maven Builds. En uiteraard ook gebruikers tests</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>