<div class="jumbotron" id="jumbotron">
  <div class="container">
    <h2 class="demo-section-title" style="margin-top: 0;">Ontmoet Robin de Robot</h2>
    <div class="robot-homepage" style="padding: 5">
      <robot class="pull-right robot-padding-top"></robot>
    </div>
    <div class="col-md-8" style="padding: 0">
      <h1>Robin maakt interacties makkelijker voor kinderen</h1>
      <p>Robin helpt kinderen met een autisme stoornis beter omgaan met sociale interacties en koppelt resultaten terug naar ouders en begeleiders.</p>
      <br>
      <p><a href="#register" class="btn btn-primary ">Account maken</a></p>
    </div>
  </div>
</div>


<div class="container">
  <div class="promo">

    <div class="promo-block">
      <div class="row">
        <div class="col-md-9 promo-text">
          <h2>Maak quizzes en stappenplannen</h2>Spelenderwijs leren de kinderen over situaties in het dagelijkse leven. U kunt deze quizes of stappenplannen als begeleider invullen en optimaliseren speciaal voor uw kind. Neem als voorbeeld het geven van een hand tijdens een verjaardag. Hoe
          moet uw kind hierop reageren? Welke stappen horen daarbij? Spelenderwijs wordt het kind altijd positief benaderd hoe hij/zij dit moet uitvoeren. Het uiteindelijke doel hiervan is het makkelijker maken voor het kind om de activiteit van de quiz
          of stappenplan in het dagelijkse leven uit te voeren. Hierdoor wordt het maken van contact makkelijker. Verder wordt het kind beloond door achievements om het voor het kind uitdagend te maken.</div>
        <div class="col-md-2"><img src="images/joystick.png" class="promo-image" /></div>
      </div>
    </div>

    <div class="promo-block">
      <div class="row">
        <div class="col-md-2"><img src="images/star.png" class="promo-image" /></div>
        <div class="col-md-9 promo-text">
          <h2>Behaal achievements</h2>De kinderen kunnen per stappenplan achievements behalen. Zij kunnen deze achievements bekijken ook deze achievements kunt u als begeleider zelf maken. Uit onderzoek is gebleken dat kinderen steeds gestimuleerd blijven om stappen te ondernemen
          wanneer ze hiervoor beloond worden.</div>
      </div>
    </div>

    <div class="promo-block">
      <div class="row">
        <div class="col-md-9 promo-text">
          <h2>Een veilige omgeving</h2>Wanneer het kind inlogt komt het in een vriendelijke omgeving waar hij/zij interactie heeft met Robin de robot in chat vorm. Het kind kan in zijn eigen omgeving zijn achievements bekijken, stappenplannen en quizzes uitvoeren die de begeleider
          heeft gekoppeld aan het kind.</div>
        <div class="col-md-2"><img src="images/rocket.png" class="promo-image" /></div>
      </div>
    </div>
  </div>

  <div class="samenwerking">
    <h2>In samenwerking met</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-3 logo-samenwerking">
        <a target="_blank" href="https://tweakers.net/"><img src="images/tweakers_logo.png" width="250" /></a>
      </div>
      <div class="col-xs-12 col-sm-3 logo-samenwerking">
        <a target="_blank" href="http://www.hu.nl/"><img src="images/hu_logo.svg" width="250" /></a>
      </div>

      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs-block"></div>

      <div class="col-xs-12 col-sm-3 logo-samenwerking">
        <a target="_blank" href="https://tweakers.net/projectb"><img src="images/projectb_logo.png" width="250" /></a>
      </div>
      <div class="col-xs-12 col-sm-3 logo-samenwerking">
        <a target="_blank" href="https://sogeti.nl"><img src="images/sogeti_logo.jpg" width="250" /></a>
      </div>
    </div>
  </div>


</div>
