<div class="jumbotron" id="jumbotron">
  <div class="container">
    <h2 class="demo-section-title" style="margin-top: 0;">Ontmoet Robin de Robot</h2>
     <div class="robot-homepage" style="padding: 5">
      <robot class="pull-right robot-padding-top"></robot>
    </div>
    <div class="col-md-8" style="padding: 0">
      <h1>Robin maakt interacties makkelijker voor kinderen</h1>
      <p>Robin helpt kinderen met een autisme stoornis beter omgaan met sociale interacties en koppelt resultaten terug naar ouders en begeleiders.</p>
      <br>
      <p><a href="#register" class="btn btn-primary ">Account maken</a></p>
    </div>
  </div>
</div>


<div class="container">
  <div class="promo">

    <div class="promo-block">
      <div class="row">
        <div class="col-md-8">
          <h2>Maak quizes</h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tortor sed justo lacinia molestie. Nunc eu elementum turpis, tempus mattis magna. In sit amet vehicula lectus, sed bibendum velit. Cras sed neque eu urna posuere fermentum. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ultricies vel lorem in mollis. Quisque enim velit, vestibulum sed velit non, dignissim viverra leo. Aliquam fermentum, diam eget ultricies bibendum, quam
          diam eleifend magna, sed rhoncus ex quam vel ipsum. Ut maximus justo sit amet tortor congue mattis. Mauris ultrices ligula quis sapien facilisis pharetra.</div>
        <div class="col-md-4"><img src="images/joystick.png" class="promo-image" /></div>
      </div>
    </div>

    <div class="promo-block">
      <div class="row">
        <div class="col-md-4"><img src="images/star.png" class="promo-image" /></div>
        <div class="col-md-8">
          <h2>Behaal achievements</h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tortor sed justo lacinia molestie. Nunc eu elementum turpis, tempus mattis magna. In sit amet vehicula lectus, sed bibendum velit. Cras sed neque eu urna posuere fermentum. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ultricies vel lorem in mollis. Quisque enim velit, vestibulum sed velit non, dignissim viverra leo. Aliquam fermentum, diam eget ultricies bibendum, quam
          diam eleifend magna, sed rhoncus ex quam vel ipsum. Ut maximus justo sit amet tortor congue mattis. Mauris ultrices ligula quis sapien facilisis pharetra.</div>
      </div>
    </div>

    <div class="promo-block">
      <div class="row">
        <div class="col-md-8">
          <h2>Vraag advies</h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tortor sed justo lacinia molestie. Nunc eu elementum turpis, tempus mattis magna. In sit amet vehicula lectus, sed bibendum velit. Cras sed neque eu urna posuere fermentum. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ultricies vel lorem in mollis. Quisque enim velit, vestibulum sed velit non, dignissim viverra leo. Aliquam fermentum, diam eget ultricies bibendum, quam
          diam eleifend magna, sed rhoncus ex quam vel ipsum. Ut maximus justo sit amet tortor congue mattis. Mauris ultrices ligula quis sapien facilisis pharetra.</div>
        <div class="col-md-4"><img src="images/rocket.png" class="promo-image" /></div>
      </div>
    </div>
  </div>

  <div class="samenwerking">
    <h2>In samenwerking met</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-3 logo-samenwerking"><a target="_blank" href="https://tweakers.net/"><img src="images/tweakers_logo.png" width="250" /></a></div>
      <div class="col-xs-12 col-sm-3 logo-samenwerking"><a target="_blank" href="http://www.hu.nl/"><img src="images/hu_logo.svg" width="250" /></a></div>

      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs-block"></div>

      <div class="col-xs-12 col-sm-3 logo-samenwerking"><a target="_blank" href="https://tweakers.net/projectb"><img src="images/projectb_logo.png" width="250" /></a></div>
      <div class="col-xs-12 col-sm-3 logo-samenwerking"><a target="_blank" href="https://sogeti.nl"><img src="images/sogeti_logo.jpg" width="250" /></a></div>
    </div>
  </div>


</div>
