html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.promo-heads {
  margin-bottom: 30px;
}

#main-container {
  min-height: 100%;
  position: relative;
}

#main-content {
  padding-bottom: 60px;
  /* Height of the footer */
}

.text-nav-helper {
  color: #B2C6CD;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 30px;
}

.center-element {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

main {
  /* start 'enter' transition */
  &.ng-enter {
    /* transition on enter for .5s */
    transition: 0.5s;
    /* start with opacity 0 (invisible) */
    opacity: 0;
  }
  /* end 'enter' transition */
  &.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

@media screen and (max-width: 400px) {
  .center-element {
    margin-top: 30px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 700px) {
  .center-element {
    margin-top: 90px;
    margin-bottom: 120px;
  }
}
