.ChatContainer {
  height: 100%;
  padding: 2%;
  background: #fff;
}

.RobotWrapper {
    height: 100%;
    width: 30%;
    float: left;
}

.RobotContainer {
    margin-top: 50%;
}

.ChatWrapper {
    border-radius: 20px;
    background: #EFF1EE;
    height: 80%;
}

.ChatWrapper #Messages {
  /*
  height: 80%;
  */
  height: 500px;
  margin-top: 15px;
  padding-bottom: 15px;
  overflow-y: scroll;
}

#Messages .Message {
  position: relative;
  display: inline-block;
  width: 90%;
  margin-top: 2px;
}

.Message.Send {
  float: right;
  text-align: right;
}

.Message.Recieved:before,
.Message.Send:before {
	top: 2px;
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 11px solid #CCCDCB;
    border-color: #CCCDCB transparent transparent;
}

.Message.Recieved:before {
   left: -8px;
}

.Message.Send:before {
  right: -10px;
}

.Message.Recieved:after,
.Message.Send:after {
  top: 4px;
  border: solid transparent;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: #fff solid 12px;
  border-color: #fff transparent transparent transparent;
}

.Message.Recieved:after {
	left: -4px;
}

.Message.Send:after {
  right: -6px;
}

.Message p {
	display: inline-block;
    padding: 1% 1% 1% 2%;
    margin: 2px;
    border: 2px solid #CCCDCB;
    border-bottom: 0;
    font-weight: normal;
    border-right: 0;
    color: #393C3C;
    background: #fff;
    text-align: left;
    font-size: small;
    white-space: pre-line;
    line-height: 1.2em;
    word-break: break-all;
    -webkit-box-shadow: 2px 2px 0 1px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 0 1px rgba(0,0,0,.2);
    box-shadow: 2px 2px 0 1px rgba(0,0,0,.15);
}

.Message.Send p {
  -webkit-border-radius: 10px 0 10px;
  -moz-border-radius: 10px 0 10px;
  border-radius: 10px 0 10px 10px;
}

.Message.Recieved p {
  -webkit-border-radius: 0 10px 10px;
  -moz-border-radius: 0 10px 10px;
  border-radius: 0 10px 10px;
}

.Message p em {
    float: right;
    margin: 0 5px;
    color: #676F6F;
    font-size: smaller;
    line-height: 17px;
}

.MessageHolder {
}

.ButtonOptions {
	padding-bottom: 1%;
}
