.robotcontainer {
    margin-top: 50%;
}
.chat-container {
    margin-bottom: 25px;
}
.chat {
    width: 100%;
    height: 500px;
    margin-top: 5%;
    overflow-y: scroll;
}
.chat-input {
    bottom: 0;
}
.bubble {
    background-color: rgb(29, 194, 255);
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    // vertical-align: top;
    clear: both;
}
.quiz-bubble {
    background-color: white;
    color: black;
    border: 3px solid #54be3f;
    width: 94%;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    clear: both;
    cursor: pointer;
    &:hover {
        background-color: lightgreen;
    }
    .quiz-info {
        float: left;
        width: 50%;
    }
    img {
        padding: 0;
        float: right;
        height: 100%;
        width: 220px;
    }
}
.bubble::before {
    // background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    background-color: rgb(29, 194, 255);
    transform: rotate( 29deg ) skew( -35deg );
    -moz-transform: rotate( 29deg ) skew( -35deg );
    -ms-transform: rotate( 29deg ) skew( -35deg );
    -o-transform: rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width: 20px;
}
.me {
    float: left;
    margin: 5px 45px 5px 20px;
}
.me::before {
    left: -9px;
}
.you {
    float: right;
    margin: 5px 20px 5px 45px;
}
.you::before {
    right: -9px;
}
