.cookiesok {
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(52, 52, 52, 0.9);
    padding: 10px 25px;
    vertical-align: middle;
    p {
        padding-top: 10px;
        color: white;
    }
}
