.dashboard-nav {
    margin-top: 10px;
    li {
        cursor: pointer;
    }
    .dropdown-menu {
        padding: 5px;
        a:hover {
            color: white;
            background-color: #02BAF2;
        }
    }
}
