// overite bootstrap source
.nav-tabs {
  margin-bottom: 15px;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar.child {
	background: #fad46b;
}

.navbar-brand-img{
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .navbar-brand-img {
    width: 190px;
    margin-right: 0px;
  }
}
