
<p class="demo-type-heading">Achievement toevoegen</p>
<p>Hier kan een achievement worden toegevoegd.</p>

<error></error>

<div class="col-md-12 create-quiz">
	<form class="form-horizontal achievement-maken-form" role="form" novalidate>
		<div class="form-group">
			<label class="col-sm-2 control-label">Naam</label>
			<div class="col-sm-10">
				<input ng-model="achievement.name" type="text" class="form-control"
					placeholder="Stel je netjes voor" required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Punten</label>
			<div class="col-sm-10">
				<input ng-model="achievement.points" type="text"
					class="form-control" placeholder="25"
					required />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<button class="btn btn-block btn-primary addfields"
					ng-click="addAchievement(achievement)">Achievement toevoegen</button>
				<span></span>
			</div>
		</div>
	</form>
</div>
