<div class="jumbotron" id="jumbotron">
  <div class="container">
    <h2 class="demo-section-title" style="margin-top: 0; margin-bottom: 116px">ontmoet harry acker</h2>
    <div class="col-md-8" style="padding: 0">
      <h1>test jump on board, and cut them to pieces!</h1>
      <p>I was sick and nigh to death and I vowed with every breath, To walk in wisdom's ways when I sailed, when I sailed </p>
      <br>
      <p><a href="#fakeLink" class="btn btn-primary ">account maken</a></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img src="images/thumbnail-large-01.jpg" alt="100%x180">
        <div class="caption">
          <h4>15 men on a dead chest</h4>
          <p>Fifteen men on the dead man’s chest – Yo-ho-ho and a bottle of rum! Drink and the devil had done for the rest – Yo-ho-ho and a bottle of rum!</p>
    
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img src="images/thumbnail-large-02.jpg" alt="100%x180">
        <div class="caption">
          <h4>The mate was fixed</h4>
          <p>by the bos’n's pike, the bos’n brained with a marlinspike and Cookey’s throat was marked belike. It had been gripped by fingers ten.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img src="images/thumbnail-large-03.jpg" alt="100%x180">
        <div class="caption">
          <h4>And there they lay</h4>
          <p>All good dead men, like break-o’-day in a boozing-ken – Yo-ho-ho and a bottle of rum! Fifteen men of a whole ship’s list – Yo-ho-ho and a bottle of rum!</p>

        </div>
      </div>
    </div>
  </div>
</div>
