<div class="jumbotron" id="jumbotron">
  <div class="container">
    <h2 class="demo-section-title" style="margin-top: 0; margin-bottom: 116px">Ontmoet Robin de robot</h2>
    <div class="robot-homepage">
      <robot class="pull-right"></robot>
    </div>
    <div class="col-md-8" style="padding: 0">
      <h1>Robin maakt interacties makkelijker voor kinderen</h1>
      <p>Robin helpt kinderen met een autisme stoornis beter omgaan met sociale interacties en koppelt resultaten terug naar ouders en begeleiders.</p>
      <br>
      <p><a href="#fakeLink" class="btn btn-primary ">Account maken</a></p>
    </div>

  </div>
</div>


<div class="container">
  <div class="promo">

    <div class="promo-block">
      <div class="row">
        <div class="col-md-8">
          <h2>Maak quizes</h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tortor sed justo lacinia molestie. Nunc eu elementum turpis, tempus mattis magna. In sit amet vehicula lectus, sed bibendum velit. Cras sed neque eu urna posuere fermentum. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ultricies vel lorem in mollis. Quisque enim velit, vestibulum sed velit non, dignissim viverra leo. Aliquam fermentum, diam eget ultricies bibendum, quam
          diam eleifend magna, sed rhoncus ex quam vel ipsum. Ut maximus justo sit amet tortor congue mattis. Mauris ultrices ligula quis sapien facilisis pharetra.</div>
        <div class="col-md-4"><img src="images/joystick.png" class="promo-image" /></div>
      </div>
    </div>

    <div class="promo-block">
      <div class="row">
        <div class="col-md-4"><img src="images/star.png" class="promo-image" /></div>
        <div class="col-md-8">
          <h2>Behaal achievemnts</h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tortor sed justo lacinia molestie. Nunc eu elementum turpis, tempus mattis magna. In sit amet vehicula lectus, sed bibendum velit. Cras sed neque eu urna posuere fermentum. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ultricies vel lorem in mollis. Quisque enim velit, vestibulum sed velit non, dignissim viverra leo. Aliquam fermentum, diam eget ultricies bibendum, quam
          diam eleifend magna, sed rhoncus ex quam vel ipsum. Ut maximus justo sit amet tortor congue mattis. Mauris ultrices ligula quis sapien facilisis pharetra.</div>
      </div>
    </div>

    <div class="promo-block">
      <div class="row">
        <div class="col-md-8">
          <h2>Behaal achievemnts</h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tortor sed justo lacinia molestie. Nunc eu elementum turpis, tempus mattis magna. In sit amet vehicula lectus, sed bibendum velit. Cras sed neque eu urna posuere fermentum. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ultricies vel lorem in mollis. Quisque enim velit, vestibulum sed velit non, dignissim viverra leo. Aliquam fermentum, diam eget ultricies bibendum, quam
          diam eleifend magna, sed rhoncus ex quam vel ipsum. Ut maximus justo sit amet tortor congue mattis. Mauris ultrices ligula quis sapien facilisis pharetra.</div>
        <div class="col-md-4"><img src="images/rocket.png" class="promo-image" /></div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img src="images/home1.jpg" alt="100%x180">
        <div class="caption">
          <h4>Open source app</h4>
          <p>Fifteen men on the dead man’s chest – Yo-ho-ho and a bottle of rum! Drink and the devil had done for the rest – Yo-ho-ho and a bottle of rum!</p>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img src="images/home2.jpg" alt="100%x180">
        <div class="caption">
          <h4>Extra hulp voor kinderen</h4>
          <p>by the bos’n's pike, the bos’n brained with a marlinspike and Cookey’s throat was marked belike. It had been gripped by fingers ten.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail thumbnail-caption">
        <img src="images/home3.jpg" alt="100%x180">
        <div class="caption">
          <h4>Altijd in ontwikkeling</h4>
          <p>All good dead men, like break-o’-day in a boozing-ken – Yo-ho-ho and a bottle of rum! Fifteen men of a whole ship’s list – Yo-ho-ho and a bottle of rum!</p>

        </div>
      </div>
    </div>
  </div>

  <div class="samenwerking">
    <h2>In samenwerking met</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-3"><img src="images/tweakers_logo.png" width="250" /></div>
      <div class="col-xs-12 col-sm-3"><img src="images/hu_logo.svg" width="250" /></div>

      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs-block"></div>

      <div class="col-xs-12 col-sm-3"><img src="images/projectb_logo.png" width="250" /></div>
      <div class="col-xs-12 col-sm-3"><img src="images/sogeti_logo.jpg" width="250" /></div>
    </div>
    <p>
      ProjectB heeft tot doel het leven van mensen met een beperking te ondersteunen of zelfs de kwaliteit van hun leven te verbeteren. Wij dagen je uit om met jouw team informatie technologie in te zetten om voor een deel van deze mensen een oplossing te bieden.
      Vorig jaar is ProjectB voor de eerste keer in Nederland met succes uitgevoerd. Kijk hieronder voor een impressie.
    </p>
  </div>


</div>
