
<p class="demo-type-heading">Stappenplan toevoegen</p>
<p>Hier kan een stappenplan worden toegevoegd.</p>

<error></error>

<div ng-app ng-controller="DashboardController" ng-init="initRoadmap()"
	class="col-md-12 create-roadmap">
	<form class="form-horizontal roamap-maken-form" role="form" novalidate>
		<div class="form-group">
			<label class="col-sm-2 control-label">Stappenplan</label>
			<div class="col-sm-10">
				<input ng-model="roadmap.name" type="text" class="form-control"
					placeholder="Appel valt niet ver van de boom" required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Omschrijving</label>
			<div class="col-sm-10">
				<textarea ng-model="roadmap.description" type="text"
					class="form-control" placeholder="Appel valt niet ver van de boom"
					required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Achievement</label>
			<div class="col-sm-10">
				<div class="input-icon">
					<span class="ss-star"></span> <select
						ng-model="roadmap.achievement" class="form-control" required>
						<option ng-repeat="achievement in achievements">{{achievement.name}}
							- {{achievement.points}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Categorie</label>
			<div class="col-sm-10">
				<div class="input-icon">
					<span class="ss-list"></span> <select ng-model="roadmap.category"
						class="form-control" required>
						<option ng-repeat="category in categories">{{category.name}}</option>
					</select>
				</div>
			</div>
		</div>

		<fieldset data-ng-repeat="theStep in roadmap.steps">
			<div class="form-group">
				<label class="col-sm-2 control-label">Stap</label>
				<div class="col-sm-10">
					<div class="input-icon">
						<span class="ss-bookmark"></span> <input ng-model="theStep.step"
							type="text" class="form-control"
							placeholder="Wat betekent de appel valt niet ver van de boom?"
							required />
					</div>
				</div>
			</div>

			<button class="btn-orange delete-step" ng-show="$last"
				ng-click="removeStep()">Stap verwijderen</button>
		</fieldset>
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-5">
				<button class="btn btn-block btn-primary vraag-toevoegen"
					ng-click="addNewStep()">Stap toevoegen</button>
				<span></span>
			</div>
			<div class="col-sm-5">
				<button class="btn btn-block btn-primary">Roadmap opslaan</button>
				<span></span>
			</div>
		</div>
	</form>
</div>
