<div class="container">
 <h3 class="text-nav-helper">Quiz / Maken</h3>
    <div class="col-md-9 create-quiz">
      <form class="form-horizontal quiz-maken-form" role="form" novalidate>
        <div class="form-group">
          <label class="col-sm-3 control-label">Quiz</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="credentials.name" placeholder="Appel valt niet ver van de boom" required />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Vraag</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="credentials.username" placeholder="Wat betekent de appel valt niet ver van de boom?" required />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Correct antwoord</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  placeholder="Je lijkt op je vader en/of moeder" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Foutief antwoord</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="credentials.email" required placeholder="Een appel ligt altijd dicht bij de boom." required>
            <span></span>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-3 control-label">Foutief antwoord</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="credentials.email" required placeholder="De appel kan niet weg rollen van de boom." required>
            <span></span>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-3 control-label">Foutief antwoord</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="credentials.email" required placeholder="Alle mensen lijken op elkaar." required>
            <span></span>
          </div>
        </div>
		
        <div class="form-group">
          <label class="col-sm-4 control-label"></label>
          <div class="col-sm-4">
            <button class="btn btn-block btn-primary vraag-toevoegen">Vraag toevoegen</button>
            <span></span>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-block btn-primary">Quiz opslaan</button>
            <span></span>
          </div>
          	
    	</div>
       </form>
        <error></error>
    </div>
</div>    