<div ng-controller="loginCtrl" />

<div class="login-box">
  <div class="tile tile-login">
    <h1 class="login-heading">Login</h1>
    <div class="input-icon">
      <span class="ss-user"></span>
      <input type="text" class="form-control" placeholder="Username">
    </div>
    <div class="input-icon">
      <span class="ss-lock"></span>
      <input type="password" class="form-control" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
    </div>

    <a href="#fakeLink" class="btn btn-block btn-primary">Log in</a>

    <div class="login-action clearfix">
      <a href="#fakeLink">wachtwoord vergeten?</a>
    </div>
  </div>
</div>

</div>
