<div class="container">
  <h3 class="text-nav-helper">Home / login</h3>
  <form novalidate/>
  <div class="login-box ">
    <div class="tile tile-login">
      <h1 class="login-heading">inloggen</h1>
      <div class="input-icon">
        <span class="ss-user"></span>
        <input type="text" ng-model="credentials.username" class="form-control" placeholder="Gebruikersnaam" required>
      </div>
      <div class="input-icon">
        <span class="ss-lock"></span>
        <input type="password" ng-model="credentials.password" class="form-control" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" required>
      </div>

      <a ng-click="login(credentials)" class="btn btn-block btn-primary">Log in</a>

      <div class="login-action clearfix">
        <a ui-sref="forgetpassword">wachtwoord vergeten?</a>
      </div>
    </div>
  </div>
  </form>
</div>
<error></error>
</div>
