
<p class="demo-type-heading">Kind toevoegen</p>
<p>U kunt hier een account aanmaken voor het kind die gebruik gaat
	maken van Robin de Robot. Vul de onderstaande gegevens in:</p>

<error></error>

<form class="form-horizontal" role="form" novalidate>
	<div class="form-group">
		<label class="col-sm-2 control-label">Naam</label>
		<div class="col-sm-10">
			<div class="input-icon">
				<span class="ss-users"></span> <input type="text"
					class="form-control" required ng-model="credentials.name"
					placeholder="Mark" required />
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Gebruikersnaam</label>
		<div class="col-sm-10">
			<div class="input-icon">
				<span class="ss-users"></span> <input type="text"
					class="form-control" required ng-model="credentials.username"
					placeholder="Mark" required />
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Wachtwoord</label>
		<div class="col-sm-10">
			<div class="input-icon">
				<span class="ss-lock"></span> <input type="password"
					class="form-control" required ng-model="credentials.password"
					placeholder="&#9679;&#9679;&#9679;&#9679;" required>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Geboortedatum</label>
		<div class="col-sm-10">
			<div class="input-icon">
				<span class="ss-calendar"></span> <input type="date"
					class="form-control" required ng-model="credentials.dateofbirth"
					placeholder="13-05-2003" required>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Geslacht</label>
		<div class="col-sm-10">
			<div class="input-icon">
				<span class="ss-users"></span> <select class="form-control" required
					ng-model="credentials.gender" required>
					<option selected="selected" value="m">Man</option>
					<option value="v">Vrouw</option>
				</select>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<a ng-click="registerChild(credentials)" class="btn btn-block btn-primary">Voeg
				toe</a>
		</div>
	</div>
</form>