<div ng-controller="loginCtrl" />

<div class="login-box">
  <div class="tile tile-login">
    <img class="logo" src="images/logo-yellow@2x.png" alt="" width="102">
    <div class="input-icon">
      <span class="ss-user"></span>
      <input type="text" class="form-control" placeholder="Username">
    </div>
    <div class="input-icon">
      <span class="ss-lock"></span>
      <input type="password" class="form-control" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
    </div>

    <a href="#fakeLink" class="btn btn-block btn-primary btn-embossed">Log in</a>

    <div class="login-action clearfix">
      <div class="col-md-8 col-xs-9">
        <label class="checkbox" for="checkbox1">
          <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" />Remember Me
        </label>
      </div>
      <div class="col-md-4 col-xs-3">
        <a href="#fakeLink">Forget?</a>
      </div>
    </div>
  </div>
</div>

</div>
